/* Estilos CSS */
/* Formato de pagina en  general*/
body{
    font-family: Arial, helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background: #e8e8e8;
    text-align: center;
}    
/* ENCABEZADO*/
.header{
    background-color: #333;
    color: #0593f1f8;
    padding: 1em 0;
}
/* menu*/
.menu {
    font-family: Arial, sans-serif ;
    list-style: none;
    background: #092327;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #ef8354;
    transform: scale(1.1);
}
/* Subtitulo 1*/
.container {
    margin: 0;
    overflow: hidden;
    text-align: center;
    color: #f3f6f8f8;
    background-image: url('Imagenes/WhatsApp\ Image\ 2025-09-05\ at\ 6.53.43\ AM.jpeg'); 
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: repeat(5, 0.fr);
    gap: 70px;
    
}
    
.div23 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #2079057e;
}

.div25 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: #7905355d;
    color: #d2d2daf8;
}

.div26 {
    background-color: #1180074b;
    height: 60px;
    padding: 0;
    font-size: 40px;
}

.div27 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #5a5512a1;
}






/* boton de whasaap */
.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 1px 0px;
    text-decoration: none;
    padding: 0.8rem 3rem;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    display: inline-block;
    cursor: pointer;
    z-index: 0;
    position: relative;
    border: none;
    outline: none;
    margin: 25px;
}
.cta-button:hover {
    background-color: #00e67b;
    color: black;
    transform: scale(1.2);
}
.cta-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff6600;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.cta-button::before {
    content: "";
    background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(30px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
    opacity: 0;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.cta-button:hover::before {
    opacity: 1;
}
.cta-button:active:after {
    background: transparent;
}
.cta-button:active {
    color: #ff6600;
    font-weight: bold;
}
/* pie de pagina*/
.footer {
    background-color: #333;
    color: #e5eef3;
    text-align: center;
    padding: 1em 0;
    
}








